{% extends 'account/base.html' %}

{% block title %}
    Reset Your Password
{% endblock title %}

{% block content %}
    <h1>Reset Your Password</h1>
    {% if validlink %}
        <p>Please enter your password twice:</p>
        <form action="" method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Cahnge My Password"></p>
        </form>
    {% else %}
        <p>
            The password reset link was invalid, possibly because it has alreadybeen used. Please request a new password reset.
        </p>
    {% endif %}
{% endblock content %}